@import 'tailwindcss';

*{
  box-sizing: border-box;
}
html,body{
  overflow-x:hidden
}

.background-image{
  background-image: url(assets/backu.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:100%;
}